<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!-- Footer Section -->
<!--Start Footer -->
<div class="background-9">
  <div class="text-39 group">
    <p class="text-40"><span class="text-style">Your Company</span><br><span class="text-style-2">&nbsp;</span><br><span class="text-style-3">Halimun Street 25</span><br><span class="text-style-3">Jakarta, Indonesia</span><br><span class="text-style-3">12850</span><br><span class="text-style-4">&nbsp;</span><br><span class="text-style-3">www.yourdomain.com</span></p>
    <div class="col-6">
      <div class="logo-3 group">
        <img class="logo-4" th:src="@{/default/images/logo.png}" alt="" width="58" height="58">
        <div class="col-8">
          <p class="text-44">American Food</p>
          <p class="text-45">your logo here</p>
        </div>
      </div>
      <p class="text-46">Copyright © &nbsp;2020 Freepik<br>Company S.L. All rights reserved.</p>
      <div class="social-media-2 match-height group">
        <div class="facebook-2">
          <img class="shape-19" th:src="@{/default/images/shape_7.png}" alt="" width="7" height="14">
        </div>
        <div class="instagram-2">
          <img class="shape-20" th:src="@{/default/images/shape_5.png}" alt="" width="14" height="14">
        </div>
        <div class="twitter-2">
          <img class="shape-21" th:src="@{/default/images/shape_3.png}" alt="" width="14" height="12">
        </div>
      </div>
    </div>
    <p class="text-43"><span class="text-style-2">Sit Amet</span><br><span class="text-style-3">Neque</span><br><span class="text-style-3">Suspendisse</span><br><span class="text-style-3">Dictum</span><br><span class="text-style-3">Porttitor</span><br><span class="text-style-3">Tincidunt</span><br><span class="text-style-3">Enim lobortis</span></p>
    <p class="text-42"><span class="text-style-2">Lorem Ipsum</span><br><span class="text-style-3">Neque</span><br><span class="text-style-3">Suspendisse</span><br><span class="text-style-3">Dictum</span><br><span class="text-style-3">Porttitor</span><br><span class="text-style-3">Tincidunt</span><br><span class="text-style-3">Enim lobortis</span></p>
    <p class="text-41"><span class="text-style-2">Sitemap</span><br><span class="text-style-3">Home</span><br><span class="text-style-3">About</span><br><span class="text-style-3">Blog</span><br><span class="text-style-3">Menu</span><br><span class="text-style-3">Store</span><br><span class="text-style-3">Contact</span></p>
  </div>
</div>
<!--End Footer -->
</body>
</html>