<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blog Page</title>
</head>
<body>
<div layout:fragment="main-content">
    <!--Start Our Best Chef -->
    <div class="background-7">
        <div class="l-constrained-2">
            <p class="text-27">Our Best Chef</p>
            <div class="wrapper-8">
                <div class="mask-holder">
                    <div class="profile-text">
                        <p class="text-28">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                        <p class="text-29">Daniel Aiello</p>
                        <p class="text-30">Lead Chef</p>
                    </div>
                </div>
                <img class="place-your-images-here-double-click-to-edit-5" th:src="@{/default/images/place_your_images_here_do_3.png}" alt="" width="283" height="447">
                <p class="text-31">Pellentesque habitant morbi tristique senectus et netus et malesuada<br>fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
    <!--End Our Best Chef -->

</div>
</body>
</html>