<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default/layout}">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
</head>
<body>
<div layout:fragment="main-content">
    <!--Start Contact Us -->
    <div class="images-3">
        <div class="col">
            <div class="text-35">
                Contact Us
            </div>
            <div class="field">
                Your Name
            </div>
            <div class="field-2">
                Gender
            </div>
            <div class="field-3">
                Messages
            </div>
            <div class="button-4">
                Send Messages
            </div>
        </div>
    </div>
    <!--End Contact Us -->
</div>
</body>
</html>